---
import BaseLayout from '../../layouts/BaseLayout.astro'
import FeedList from '../../components/FeedList.astro'
---

<BaseLayout title="Art | Jess Hewitt">
    <div class="feed" style="padding-bottom: 0;">
        <a href="/art/gallery/" class="gallery-link">View gallery &rarr;</a>
    </div>
    <FeedList filter="art" />
</BaseLayout>
