---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="About | Jess Hewitt">
    <article class="detail">
        <div class="detail-header">
            <h1>About</h1>
        </div>
        <div class="about-content">
            <p>
                I make abstract art with code. Working with technology creatively has always felt like a natural fit for me.
            </p>
            <p>
                I'm also a developer. I co-founded <a href="https://noisefactor.io/">Noise Factor</a> with my partner Alex, and we're the makers of 
                <a href="https://noisedeck.app/">Noisedeck</a>, a shader-based art synthesizer.
            </p>

            <h2>Links</h2>
            <ul class="about-links">
                <li><a href="https://bsky.app/profile/jesshewitt.net" rel="me">Bluesky</a></li>
                <li><a href="https://genart.social/@jesshewitt" rel="me">Mastodon</a></li>
                <li><a href="https://github.com/jesshewitt">GitHub</a></li>
            </ul>

            <h2>Press & Interviews</h2>
            <ul class="about-links">
                <li><a href="https://objkt.com/asset/KT1KhepNMQ38DQ84QzT2ijVtsP1cMrvAyzJj/3">Interview in Issue #80 of The Tickle magazine</a></li>
                <li><a href="https://www.youtube.com/watch?v=V8tPw0E9Omo">After Dinner Mints: Interview with Ponyo from Art Blocks</a></li>
                <li><a href="https://outland.art/anne-spalter/">Spalter Digital by Outland: Anne Spalter speaks about the NFT space</a></li>
                <li><a href="https://www.kaloh.xyz/p/-5-reasons-why-gen-art-nfts-are-something">Kaloh's Newsletter: 5 Reasons Why Gen-Art NFTs Are Something Special</a></li>
                <li><a href="https://futureart.io/">Future Art rare digital art show</a></li>
                <li><a href="https://www.youtube.com/watch?v=_pCmLJypN0E">Tezos Artcast interview</a></li>
                <li><a href="https://cryptoartnfts.com/?p=203">CAN: Jess Hewitt, Artist Review and Profile</a></li>
                <li><a href="https://niftyartcollector.substack.com/p/like-tears-in-the-rain">NAC: Like Tears in the Rain, The Beautiful NFTs of Rustysniper</a></li>
            </ul>
        </div>
    </article>
</BaseLayout>
