---
import TopBar from '../components/TopBar.astro'
import '../styles/global.css'

interface Props {
    title?: string
}

const { title = 'Jess Hewitt' } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>{title}</title>
    <link rel="icon" href="/favicon.png">
</head>
<body>
    <TopBar />
    <main>
        <slot />
    </main>
</body>
</html>
